---
import { Image } from 'astro:assets';
import typography from '@tailwindcss/typography';

import BaseLayout from "../layout/BaseLayout.astro"

import RichTextRenderer from "../components/RichRenderer"

const serverUrl = import.meta.env.NEXT_PUBLIC_SERVER_URL;

const [contentResponse, infoResponse] = await Promise.all([
  fetch(`${serverUrl}/api/globals/contact-content`),
  fetch(`${serverUrl}/api/globals/contact-info`)
]);

let contentBlocks: any[] = [];
if (contentResponse.ok) {
  const pageData = await contentResponse.json();
  contentBlocks = pageData.content || [];
} else {
  console.error('Failed to fetch content from Payload.')
}

let contactEmail = 'Failed to fetch email from Payload';
if (infoResponse.ok) {
  const contactData = await infoResponse.json();
  contactEmail = contactData.email;
} else {
  console.error('Failed to fetch contact info from Payload.');
}

const alignmentClasses = {
  left: 'mr-auto',
  center: 'mx-auto',
  right: 'ml-auto',
};
---

<BaseLayout title="Contacto — David J. Barrios">

  <div
    class="prose-invert lg:prose-xl max-w-none prose-a:text-red-200
      prose-a:hover:text-red-100 prose-il:text-red-500
      prose-ul:list-disc prose-ul:pl-6
      prose-ol:list-decimal prose-ol:pl-6
      prose-li:marker:text-slate-400
      prose-blockquote:border-l-4
      prose-blockquote:border-slate-500
      prose-blockquote:pl-6
      prose-blockquote:italic
      prose-blockquote:text-slate-400
      prose-blockquote:not-prose"
  >
    {contentBlocks && contentBlocks.length > 0 ? (
      contentBlocks.map(block => {
        if (block.blockType === 'richTextBlock') {
          return <RichTextRenderer data={block.richText} client:load />;
        }
        
        if (block.blockType === 'imageBlock') {
          const alignmentClass = alignmentClasses[block.alignment] ?? alignmentClasses.center;

          return (
            <figure class:list={["w-fit my-8", alignmentClass]}>
              <Image 
                src={block.imageUrl} 
                alt={block.altText}
                width={block.width > 0 ? block.width : undefined}
                height={block.height > 0 ? block.height : undefined}
                class="rounded-lg shadow-lg"
              />
              <figcaption class="text-center text-sm text-slate-400 mt-2">
                {block.altText}
              </figcaption>
            </figure>
          )
        }

        if (block.blockType === 'textWithImageBlock') {
          const flexClass = block.alignment === 'right' ? 'md:flex-row-reverse' : 'md:flex-row';

          return (
            <div class:list={["flex flex-col w-full md:flex-row my-4 items-center", flexClass]}>
              
              {block.imageUrl && (
                <figure class="flex flex-col items-center text-center p-5 max-w-3/4">
                  <Image
                    src={block.imageUrl}
                    width={block.width}
                    height={block.height}
                    alt={block.altText}
                    class="rounded-lg shadow-lg"
                  />
                  <figcaption class="text-center text-sm text-slate-400 mt-2">
                    {block.altText}
                  </figcaption>
                </figure>
              )}

              <div class="shrink max-w-3/4 min-w-1/4 p-2">
                <RichTextRenderer data={block.richText} client:load />
              </div>
            </div>
          );
        }

        return null;
      })
    ) : (
      <p>Error de recepción de contenido.</p>
    )}
  </div>

  {contactEmail && (
      <div class="mt-12 flex justify-center">
        <a 
          href={`mailto:${contactEmail}`} 
          class="
            inline-flex items-center gap-x-3 rounded-md 
            bg-gray-100 px-6 py-3 
            text-base font-semibold text-gray-800 
            shadow-sm transition-colors duration-200 
            hover:bg-gray-200 focus-visible:outline 
            focus-visible:outline-2 focus-visible:outline-offset-2 
            focus-visible:outline-indigo-600
            dark:bg-gray-700 dark:text-gray-100 dark:hover:bg-gray-600
          "
        >
          <svg 
            class="h-6 w-6 text-gray-500 dark:text-gray-400" 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke-width="1.5" 
            stroke="currentColor"
          >
            <path 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" 
            />
          </svg>

          <span>{contactEmail}</span>
        </a>
      </div>
    )}

</BaseLayout>
