---
import '../styles/global.css';
import '@fontsource/open-sans';
import { SEO } from 'astro-seo';
import { Image } from 'astro:assets';

import Menu from '../components/Menu.astro'
import VideoModal from '../components/Videomodal';
import BlockPage from "../components/BlockPage.astro"

interface Props {
  title: string;
  pageDescription: string;
}

const SERVER_URL = import.meta.env.NEXT_PUBLIC_SERVER_URL;

let themeSettings : {
  logoText: string;
  subText: string;
  separatorChar: string;
  minColumnWidthPx: number;
  gap: number;
  postfixText: string;
  homeDescription: string;
  openGraphImageURL: string;
  openGraphTitle: string;
  metaPageDescription: string;
  bottomPadding: number;
  textpageContent: any[];
} = {
  logoText: 'DAVID J. BARRIOS',
  subText: 'Audiovisual producer',
  separatorChar: '◆',
  minColumnWidthPx: 140,
  gap: 0,
  postfixText: ' — David J. Barrios',
  homeDescription: '',
  openGraphImageURL: '',
  openGraphTitle: '',
  metaPageDescription: '',
  bottomPadding: 30,
  textpageContent: [],
};
const settingsRequest = await fetch(`${SERVER_URL}api/globals/theme-settings`);
if (settingsRequest.ok) {
  const theme = await settingsRequest.json()
  themeSettings = theme
} else {
  console.error('Failed to fetch payload theme settings for the header css properties.')
}

let socialMedias : {
  name: string;
  url: string;
  iconUrl: string;
  redimensionIcon: string;
  redimensionWidth: number;
  redimensionHeight: number;
  imageDimensions: { width: number | null; height: number | null; };
}[] = []
const socialMediaRequest = await fetch(`${SERVER_URL}api/socialmedia?limit=100&sort=priority`);
if (socialMediaRequest.ok) {
  const socialMediaData = await socialMediaRequest.json();
  socialMedias = socialMediaData.docs as {
    name: string;
    url: string;
    iconUrl: string;
    redimensionIcon: string;
    redimensionWidth: number;
    redimensionHeight: number;
    imageDimensions: { width: number | null; height: number | null; };
  }[];
} else {
  console.error('Failed to fetch social media info info from Payload.');
}

const {
  title,
  pageDescription
} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO
      title={`${title}${themeSettings.postfixText}`}
      description={themeSettings.metaPageDescription}
      canonical={new URL(Astro.url.pathname, Astro.site).toString()}
      openGraph={{
        basic: {
          title: themeSettings.openGraphTitle,
          type: "website",
          image: themeSettings.openGraphImageURL,
        }
      }}
      extend={{
        meta: [
          { name: "viewport", content: "width=device-width" },
          { name: "generator", content: Astro.generator },
          { name: "referrer", content: "strict-origin-when-cross-origin" }
        ],
      }}
    />
	</head>
	<body
    class="flex flex-col bg-black
      text-gray-200 transition-colors duration-300"
  >
    <header class="w-full">
      <div class="flex gap-x-8 max-w-6xl mx-auto px-8 pt-8 pb-5 items-center">
        <div class="
          flex flex-col w-full gap-3
          md:gap-8 mb-2 md:mb-8 md:flex-row md:flex-wrap md:justify-center
          lg:justify-items-start lg:flex-nowrap"
        >
          <div class="
            flex flex-col
            md:flex-row md:shrink-0
            lg:flex-col lg:w-[40%]
            cursor-default"
          >
            <a class="font-logo text-4xl font-bold shrink-0" href="/">{themeSettings.logoText}</a>
            <h1 class="sr-only">{pageDescription}</h1>
            {themeSettings.separatorChar && (
              <div class="flex items-center">
                <span class="hidden md:inline md:ml-8 md:mr-6 lg:hidden lg:mx-0">
                  {themeSettings.separatorChar}
                </span>
              </div>
            )}
            {themeSettings.subText && <h2 class="font-logo shrink-0">{themeSettings.subText}</h2>}
          </div>
          <Menu/>
        </div>
      </div>
    </header>
		<main class="flex-1 w-full">
      <div class="max-w-6xl mx-auto px-4 py-2">
        <slot/>
        <VideoModal client:load listenOnId="video-gallery"/>
        <script
          type="text/javascript"
          src="https://platform.linkedin.com/badges/js/profile.js"
          async defer
        >
        </script>
      </div>
    </main>
    <footer class="w-full">
      <div
        class="flex flex-col mx-auto items-center max-w-6xl gap-x-8 px-8 pt-8"
        style={{ paddingBottom: `${themeSettings.bottomPadding}px` }}
      >
        <BlockPage contentBlocks={themeSettings.textpageContent}/>
        <div class="flex items-center justify-content gap-4">
          {
            socialMedias.map(socialMedia => (
              socialMedia.redimensionIcon ? (
                <a href={socialMedia.url}>
                  <Image
                    src={socialMedia.iconUrl}
                    width={socialMedia.redimensionWidth}
                    height={socialMedia.redimensionHeight}
                    alt={socialMedia.name}
                    class="rounded-lg shadow-lg"
                    loading="lazy"
                  />
                </a>
              ) : (
                <a href={socialMedia.url}>
                  <Image
                    src={socialMedia.iconUrl}
                    width={socialMedia.imageDimensions.width ?? 0}
                    height={socialMedia.imageDimensions.height ?? 0}
                    alt={socialMedia.name}
                    class="rounded-lg shadow-lg"
                    loading="lazy"
                  />
                </a>
              )
            ))
          }
        </div>
      </div>
    </footer>
	</body>
</html>
